*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

a{
    text-decoration: none;
}

a:link{
    color: white;
}

a:visited{
    color:wheat;
}

.background-image{
    height: 100vh;
    background-image: url("background.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.button-doc{
    position: absolute;
    right:50px;
    top:50px;
    background-color: rgba(167, 130, 130, 0.527);
    color: rgb(12, 165, 236);
    border-color: white;
    border-style: solid;
    border-width: 2px;
    font-weight:600;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.33s, color 0.33s;
    text-align:center;
    line-height:25px;
}

.button-doc:hover {
    background-color:rgba(79, 100, 110, 0.438) ;
    color:white;
    opacity: 0.7;
}

.button-doc:active{
    background-color:rgba(59, 79, 88, 0.486) ;
    color:white;
    opacity: 1;
}

.button-op{
    color:white;
    background-color: rgba(167, 130, 130, 0.493);
    width: 280px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid white;
    position: relative;
    font-weight:600;
    text-align: center;
    line-height: 120px;
    border-radius: 10px;
    transition: background-color 0.33s, color 0.33s;
    font-size:4vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button-op:hover {
    background-color:rgba(79, 100, 110, 0.438) ;
    color:white;
    opacity: 0.7;
}

.button-op:active{
    background-color:rgba(59, 79, 88, 0.486) ;
    color:white;
    opacity: 1;
}

button span{
    border:1px solid red;
}
.header{
    font-size: 4vh;
    color:white;
    width: 100%;
    padding: 30px;
}
.docu-header{
    font-size: 2rem;
    background-image:linear-gradient(to bottom right, black, gray);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    width:100%;
    padding: 30px;
}

.pag-background{
    background-image:linear-gradient(to bottom right, black, gray);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
html, body{
    min-height: 100%;
}

.content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    outline: 3px;
    padding: 3vh;
}

.docu-content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    outline: 3px;
    padding: 3vh;
}
p,li{
    margin: auto;
    width: 90%;
}

.button-backhome{
    color:white;
    background-color: rgb(230, 68, 68);
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight:600;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.33s, color 0.33s;
    font-size:4vh;
    top: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}

.button-backhome:hover{
    background-color:rgba(230, 68, 68, 0.5) ;
    color:white;
    opacity: 0.7;
}

.button-backhome:hover{
    background-color:rgba(245, 40, 40, 0.603) ;
    color:white;
    opacity: 0.5;
}

.button-backhome-up{
    color:white;
    background-color: rgb(230, 68, 68);
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight:600;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.33s, color 0.33s;
    font-size:3vh;
    position: absolute;
    right: 50px;
    top: 20px;

}

.button-backhome-up:hover{
    background-color:rgba(230, 68, 68, 0.5) ;
    color:white;
    opacity: 0.7;
}

.button-backhome-up:hover{
    background-color:rgba(245, 40, 40, 0.603) ;
    color:white;
    opacity: 0.5;
}

table{
    min-width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
}
.fullrow{
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
}

td,th{
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    padding: 5px;
    border-bottom: 1px solid gray;
}
tr:nth-child(even){
    background-color: beige;
}
tr:nth-child(odd){
    background-color: white;
}
th{
    height: 3rem;
}
td{
    word-wrap: break-word;
}
tr,td{
    height: 2rem;
}
tr:hover{
    background-color: lightblue;
    transition: linear;
    transition-duration: 75ms;
}

.nav-list{
    display:flex;
    list-style:none;
    gap:1rem;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
}

.nav-list li{
    flex-grow:1;
    cursor:pointer;
    font-size:30px;
    font-weight: 600;
    text-align: center;
    background-image: linear-gradient(to top left, gray, black);
    border: 2px solid white;
    padding-top:10px;
    padding-bottom:10px;
    transition: color 0.33s;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-list li:hover{
    color: rgba(255, 228, 196, 0.5);
    opacity: 0.5;
}

.nav-list li:active{
    color: rgba(31, 204, 204, 0.76)
}
