<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/unique.css">

    <title>Active Operations</title>

</head>

<body class="pag-background">

    <div class="banner"></div>

    <div class="header">

        These are the active operations you can request:

    </div>

    <div class="content">

        <ul class="nav-list">

            <li><a href="/basicInfo" target="_blank">BasicInfo</a><br><p class="op-desc">Basic informations about the dataset.</p></li>

            <li><a href="/FeaturesCount" target="_blank">FeaturesCount</a><br><p class="op-desc">Count of the features from each source.</p></li>

            <li><a href="/ListID" target="_blank">List IDs</a><br><p class="op-desc">List of unique chromosome and scaffold IDs found in the annotation.</p></li>

            <li><a href="/ListTypes" target="_blank">ListTypes</a><br><p class="op-desc">List of the types of features present in the annotation.</p></li>

            <li><a href="/EntriesCount" target="_blank">EntriesCount</a><br><p class="op-desc">Count the entries for each feature type in the annotation.</p></li>

        </ul>

        <ul class="nav-list">

            <li><a href="/EntireChromosomes" target="_blank">EntireChromosomes</a><br><p class="op-desc">Data regarding entire chromosomes.</p></li>

            <li><a href="/UnassembledSeq" target="_blank">UnassembledSeq</a><br><p class="op-desc">Data defining the amount of unassembled sequences.</p></li>

            <li><a href="/EHselect" target="_blank">EHselect</a><br><p class="op-desc">Dataset entries only from source ensembl, havana and ensembl_havana.</p></li>

            <li><a href="/EHentries" target="_blank">EHentries</a><br><p class="op-desc">Count of the entries for each feature type, only from source ensembl, havana and ensembl_havana.</p></li>

            <li><a href="/EHGeneNames" target="_blank">EHGeneNames</a><br><p class="op-desc">List of the gene names found in the annotation, only from source ensembl, havana and ensembl_havana.</p></li>

        </ul>

    </div>

    <div class = 'button-backhome'>

        <a href="/" >Back home</a>

    </div>

</body>

</html>



